<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="!isSearching">Marvel Heroes</ion-title>
    <ion-searchbar (ionCancel)="cancelSearch()" (ionInput)="doSearch($event)" [(ngModel)]="search" *ngIf="isSearching" placeholder="Search"
      showCancelButton="true">
    </ion-searchbar>
    <ion-buttons end *ngIf="!isSearching">
      <button ion-button icon-only (click)="isSearching = true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-image">

  <p [innerHtml]="attribution" ion-text text-center></p>

  <ion-list>
    <ion-item *ngFor="let hero of heroesList" navPush="HeroDetailsPage" [navParams]="{hero: hero}" class="bg-image">
      <ion-avatar item-start>
        <img [src]="hero.thumbnail.path + '.' + hero.thumbnail.extension">
      </ion-avatar>
      <h3>
        {{ hero.name }}
      </h3>
    </ion-item>

    <p *ngIf="heroesList?.length === 0" text-center ion-text padding>
      We can't find any character with this name
    </p>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
